.container-head-flex {
    display: flex;

}

.container-body{
    display: grid;
    grid-template-columns: 320px auto;
    grid-template-rows: repeat(5, auto); 
    padding: 10px;
}
.div1 { grid-area: 1 / 1 / 2 / 2; }
.div2 { grid-area: 1 / 2 / 2 / 3; }
.div3 { grid-area: 2 / 1 / 3 / 2; }
.div4 { grid-area: 2 / 2 / 3 / 3; }
.div5 { grid-area: 3 / 1 / 4 / 2; }
.div6 { grid-area: 3 / 2 / 4 / 3; }
.div7 { grid-area: 4 / 1 / 5 / 2; }
.div8 { grid-area: 4 / 2 / 5 / 3; }
.div9 { grid-area: 5 / 1 / 6 / 2; }
.div10 { grid-area: 5 / 2 / 6 / 3; } 

.container-body > div {
    padding: 15px;
}
.left
{
    text-align: right;
}

.container-body > div > h1 {
    color: brown;
    font-size: 130%;
}
.container-body > div > h2 {
    color: brown;
    font-size: 120%;
}
.container-body > div > h3 {
    color: brown;
    font-size: 110%;
}